img.meds{
  width: 100%;

}
body{
  background-color: #225378;
  font-size: 18px;
}
thead{
  width: 80%;
  background-color: #1495a3;
  color: white;
  text-align: center;
  margin-left: 10%;
  
}
#questions , #feelings, #addmed{
  display: inlineflex;
  text-align: center;
  font-size: .8em;
  height: 240px;
  border: 2px solid #eb7f00;
  width: 25%;
  margin-right: 7%;
  justify-content: space-around;
  color: white;
  background-color: #1495a3;
  
  
  
  
}
.fa.fa-question-circle, .fa.fa-pencil, .fa.fa-book,.fa.fa-medkit{
  font-size: 2em;
  color: white;
}
h2{
  color: #eb7f00;
  background-color: #eb7f00;
  color: black;
}
.tabs.center{
  background-color: #1495a3;
  
  
}
